<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script defer src="/javascript/app.js"></script>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <nav>
    <label>CookBook</label>
    <input type="checkbox" id="toggler">
    <label id="menu" for="menu-input">
      <div id="sidebar">
        <ul>
          <li><a href="/recipes">ALL RECIPES</a></li>
          <% if (user) { %>
            <li><a href="/ingredients">ADD INGREDINETS</a></li>
            <li><a href="/recipes/new">ADD RECIPES</a></li>
            <li><a href="/logout">LOG OUT</a></li>
            <% } else { %>
              <li><a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a></li>
              <% } %>
        </ul>
      </div>
    </label>
  </nav>
  <main>
    <h1 id="title">
      <%= title %>
    </h1>