<%- include('../partials/header') %>
    <div class="cookbooklook">
        <ul>
            <% recipes.forEach(r=> { %>
                <li><a id='tableContent' href="/recipes/<%= r.id %>">
                        <%= r.title%>
                    </a></li>

                <% }) %>
        </ul>
    </div>
    <%- include('../partials/footer') %>