<%- include('../partials/header') %>
<form id='searchForm' action="/recipes/search" method="post">
    <input id="searchIngredient" type="text" name="search" placeholder="Enter 1 Ingredient">
    <input id="searchButton" type="submit" value="Search">
</form>
    <div class="cookbooklook">
        <ul id="allrecipes">
            <% recipes.forEach(r=> { %>
                <li><a id='tableContent' href="/recipes/<%= r.id %>">
                        <%= r.title%>
                    </a></li>

                <% }) %>
        </ul>
    </div>
    <%- include('../partials/footer') %>