<%- include('../partials/header') %>

<label>Ingredients choices</label>
<select id="ing" required>
    <%- ingredient.map(i=>
      `<option id="ings" value="${i._id}">${i.ingredient.toUpperCase()}</option>`
      )%>
</select>
<button id="btn">add ingredient</button>

<label>Method</label>
<input id="method" type="'text"required>
<button id="btn2">add method step</button>

<ul id="ingredList">Ingredients</ul>
<ol id="methodSteps">Step by Step</ol>

<form id='input' action="/recipes" method="POST">
    <label>Tilte</label>
    <input type="text" Name="title" required>
    <label>Cuisne</label>
    <select name ='cuisine' required>
        <option value="">Pleaes choose an option</option>
        <option value="Italian">Italian</option>
        <option value="Japanese">Japanese</option>
        <option value="Chinese">Chinese</option>
        <option value="Indian">Indian</option>
        <option value="American">American</option>
    </select>
    <input type="submit" value="Add Recipe">
</form>

<%- include('../partials/footer') %>