<%- include('../partials/header') %>
<div class="centerform">
    <form id='input' action="/recipes" method="POST">
        <label >Tilte:  </label>
        <input type="text" Name="title" required></br>
        <label >Cuisne:  </label>
        <select name='cuisine' required>
            <option value="">Pleaes choose an option</option>
            <option value="Italian">Italian</option>
            <option value="Japanese">Japanese</option>
            <option value="Chinese">Chinese</option>
            <option value="Indian">Indian</option>
            <option value="American">American</option>
        </select>
        <input type="submit" value="Add Recipe">
    </form>
</div>
    <div class="centerform">
        <label>Ingredients choices:</label>
        <select id="ing" required>
            <%- ingredient.map(i=>
                `<option id="ings" value="${i._id}">${i.ingredient.toUpperCase()}</option>`
                )%>
        </select>
        <button id="btn">add ingredient</button>
    </div>
    <div class="centerform">
        <label>Step By Step:</label>
        <input id="method" type="'text" required placeholder="Input step here one at a time">
        <button id="btn2">add method step</button>
    </div>
    <div class="cookbooklook">
        <ul id="ingredList">Ingredients</ul>
        <ol id="methodSteps">Step by Step</ol>
    </div>


    <%- include('../partials/footer') %>