<%- include('../partials/header') %>

<select name="ingredients" id="ing" required>
    <%- ingredient.map(i=>
      `<option id="ings" value="${i._id}">${i.ingredient.toUpperCase()}</option>`
      )%>
</select>
<button id="btn">add ingredient</button>
<p id="listOfIng"></p>

<form id='input' action="/recipes" method="POST">
    <label>Tilte</label>
    <input type="text" Name="title" required>
    <label>Ingredients</label>
    <button id="btn">add ingredient</button>
    <label>Method</label>
    <input type="'text" name='method' required>
    <label>Cuisne</label>
    <select name ='cuisine' required>
        <option value="Italian">Italian</option>
        <option value="Japanese">Japanese</option>
        <option value="Chinese">Chinese</option>
        <option value="Indian">Indian</option>
        <option value="American">American</option>
    </select>
    <input type="submit" value="Add Recipe">
</form>

<%- include('../partials/footer') %>