<%- include('../partials/header') %>



<form action="/recipes" method="POST">
    <label>Tilte</label>
    <input type="text" Name="title" required>
    <label>Ingredients</label>
    <select name="ingredients" required>
        <%- ingredient.map(i=>
          `<option id="ings" value="${i._id}">${i.ingredient.toUpperCase()}</option>`
          )%>
    </select>
    <button id="btn">add ingredient</button>
    <label>Method</label>
    <textarea textarea rows = "5" cols = "60" name = "method" required></textarea>
    <label>Cuisne</label>
    <select name ='cuisine' required>
        <option value="Italian">Italian</option>
        <option value="Japanese">Japanese</option>
        <option value="Chinese">Chinese</option>
        <option value="Indian">Indian</option>
        <option value="American">American</option>
    </select>
    <input type="submit" value="Add Recipe">
</form>

<%- include('../partials/footer') %>